* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Mulish";
  --font2: "Bebas Neue";
  --color0: #ffffff;
  --color1: #000000;
  --color2: #1f1534;
  --color3: #7d7987;
  --color4: rgba(249, 250, 252, 1);
  --color5: rgba(35, 134, 226, 1);
  --color6: #ff0000;
  --color7: #4087e2;
  --color8: #f1f8ff;
  --small: 0.8rem;
  --semiSmall: 1rem;
  --mid: 1.5rem;
  --large: 2rem;
  --xl: 3rem;
  --gradient1: linear-gradient(180deg, #64b9f3 0%, #5fa7f3 100%);
  --gradient2: #5a72f2;
  --gradient3: linear-gradient(180deg, #63b5f3 0%, #184d97 100%);
  --gradient4: linear-gradient(180deg, #ffffff 0%, #70c3ff 100%);
  --gradient5: linear-gradient(180deg, #25c5e8 0%, #0038ff 100%);
}

.Navbar {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
}
.Navbar_InActiveTitle {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font2);
  font-weight: bold;
  font-size: var(--mid);
  color: var(--color1);
  box-sizing: border-box;
  padding-left: 15px;
}
.Navbar_ActiveTitle {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color7);
  font-family: var(--font2);
  font-weight: bold;
  font-size: var(--mid);
  color: var(--color0);
  box-sizing: border-box;
  padding-left: 15px;
}
.Navbar_Contents, .Navbar_CovidcarecenterContent {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--color1);
}
.Navbar_LinkActive, .Navbar_LLinkActive {
  font-family: var(--font1);
  font-weight: bold;
  font-style: normal;
  color: var(--color2);
  font-size: var(--semiSmall);
  text-decoration: none !important;
  text-decoration: none;
  padding: 1% 2%;
}
.Navbar_LLinkActive {
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--color0);
  background: var(--gradient5);
}
.Navbar_LinkInActive {
  font-family: var(--font1);
  font-style: normal;
  color: var(--color2);
  font-size: var(--semiSmall);
  text-decoration: none !important;
  text-decoration: none;
  box-sizing: border-box;
  padding: 1% 2%;
}
.Navbar_LLinkInActive {
  font-family: var(--font1);
  font-style: normal;
  color: var(--color0);
  font-size: var(--semiSmall);
  text-decoration: none !important;
  text-decoration: none;
  box-sizing: border-box;
  padding: 1% 2%;
}
.Navbar_LLinkInActive:hover {
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--color0);
  background: var(--gradient5);
}
.Navbar_Covidcarecenter {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font2);
  font-weight: bold;
  font-size: var(--mid);
  color: var(--color0);
  box-sizing: border-box;
  padding-left: 15px;
  background: var(--gradient2);
}
.Navbar_LActiveTitle {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font2);
  font-weight: bold;
  font-size: var(--mid);
  color: var(--color0);
  box-sizing: border-box;
  padding-left: 15px;
  background: transparent;
}
.Navbar_CovidcarecenterContent {
  background: var(--gradient2);
}
.Navbar_CovidLink {
  background: var(--gradient2);
  color: var(--color0);
}

.active {
  background: var(--gradient2);
}
.active .Navbar_Title, .active .Navbar_Link {
  color: var(--color0);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.WithBackground {
  background-image: url("../assets/loginbg.jpg");
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Component_Container {
  width: 100%;
  height: 93vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Component_Container::-webkit-scrollbar {
  display: none;
}

.Information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: var(--font1);
  color: var(--color3);
}
.Information_Component1 {
  width: 100%;
  display: flex;
}
.Information_Comp1Block1 {
  width: 55%;
  background-image: url("../assets/element.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 200px;
}
.Information_Comp1Title {
  width: 80%;
  font-weight: 700;
  font-size: var(--xl);
  color: var(--color1);
  margin-bottom: 10px;
}
.Information_Comp1Desc1, .Information_Comp1Desc2 {
  width: 65%;
  font-size: var(--semiSmall);
  margin: 8px 0px 8px 0px;
}
.Information_Comp1Block2 {
  width: 40%;
  height: 100%;
}
.Information_Comp1Block2 img {
  width: 550px;
}
.Information_Component2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Information_Comp2Container1, .Information_Comp2Container2 {
  width: 100%;
  display: flex;
  align-items: center;
}
.Information_Comp2Block1 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.Information_Comp2Block1 img {
  width: 500px;
}
.Information_Comp2Block2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 100px;
}
.Information_Comp2Title {
  width: 65%;
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
}
.Information_Comp2Line, .Information_Comp3Line, .Information_Comp4Line, .Information_Comp5Line, .Information_Comp6Line {
  width: 50px;
  height: 2px;
  background-color: var(--color1);
  border-radius: 10px;
  margin: 15px 0px 15px 0px;
}
.Information_Comp2Desc1 {
  width: 40%;
  font-size: var(--semiSmall);
}
.Information_Comp2Container2 {
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 60px;
}
.Information_Comp2Desc2, .Information_Comp2Desc3, .Information_Comp2Desc4, .Information_Comp2Desc5 {
  width: 90%;
  margin: 10px 0px 10px 0px;
}
.Information_Component3 {
  width: 100%;
  display: flex;
}
.Information_Comp3Block1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 130px;
}
.Information_Comp3Title {
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
}
.Information_Comp3Desc1, .Information_Comp3Desc2, .Information_Comp3Desc3 {
  width: 95%;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.Information_Comp3Block2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/element.svg");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}
.Information_Comp3Block2 img {
  width: 500px;
}
.Information_Component4 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Information_Comp4Container1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Information_Comp4Block1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Information_Comp4Block1 img {
  width: 500px;
}
.Information_Comp4Block2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Information_Comp4Title {
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
}
.Information_Comp4SubTitle1 {
  font-weight: 700;
  color: var(--color1);
}
.Information_Comp4Desc1, .Information_Comp4Desc2 {
  width: 70%;
  box-sizing: border-box;
  margin: 15px 0px 10px 0px;
}
.Information_Comp4Container2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 15px;
  padding-left: 130px;
}
.Information_Comp4Block3, .Information_Comp4Block4, .Information_Comp4Block5 {
  width: 95%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.Information_Comp4Block3 ul, .Information_Comp4Block4 ul, .Information_Comp4Block5 ul {
  list-style: none;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.Information_Comp4Block3 li, .Information_Comp4Block4 li, .Information_Comp4Block5 li {
  box-sizing: border-box;
  margin: 3px 0px 3px 0px;
}
.Information_Comp4SubTitle2, .Information_Comp4SubTitle3, .Information_Comp4SubTitle4 {
  font-size: var(--semiSmall);
  font-weight: 700;
  color: var(--color1);
}
.Information_Comp4Desc3, .Information_Comp4Desc4, .Information_Comp4Desc5, .Information_Comp4Desc6, .Information_Comp4Desc7, .Information_Comp4Desc8, .Information_Comp4Desc9 {
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.Information_Component5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.Information_Comp5Container1, .Information_Comp5Container2 {
  width: 100%;
  display: flex;
}
.Information_Comp5Block1, .Information_Comp5Block2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Information_Comp5Block1 img, .Information_Comp5Block2 img {
  width: 550px;
}
.Information_Comp5Block1 {
  box-sizing: border-box;
  padding-left: 130px;
}
.Information_Comp5Block2 {
  align-items: center;
}
.Information_Comp5Title {
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
}
.Information_Comp5Desc1 {
  width: 80%;
  box-sizing: border-box;
  margin: 10px 0px 5px 0px;
}
.Information_Comp5Symptoms {
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.Information_Comp5Symptoms ul {
  margin-left: 20px;
}
.Information_Comp5Symptoms li {
  box-sizing: border-box;
  margin: 3px 0px 3px 0px;
}
.Information_Comp5SubTitle {
  font-weight: 700;
  color: var(--color1);
}
.Information_Comp5Container2 {
  width: 95%;
  margin: 20px 0px 20px 0px;
  padding-left: 130px;
}
.Information_Component6 {
  width: 100%;
}
.Information_Comp6Container1, .Information_Comp6Container2 {
  width: 100%;
  display: flex;
}
.Information_Comp6Block1 {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  background-image: url("../assets/infoIllustration2.gif");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 70% 100%;
}
.Information_Comp6Block2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Information_Comp6Title {
  width: 60%;
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
}
.Information_Comp6Desc1 {
  width: 50%;
  margin: 10px 0px 10px 0px;
}
.Information_Comp6Container2 {
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 130px;
  margin: 10px 0px 10px 0px;
}
.Information_Comp6Container2 ul {
  box-sizing: border-box;
  margin-left: 17px;
}
.Information_Comp6Container2 li {
  box-sizing: border-box;
  margin: 3px 0px 3px 0px;
}
.Information_Comp6SubTitle {
  font-weight: 700;
  color: var(--color1);
}
.Information_Precaution {
  width: 100%;
  height: 60vh;
  background-image: url("../assets/element_3.svg");
  background-repeat: no-repeat;
  background-position: 1.5% 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 30px 0px 30px 0px;
}
.Information_PrecautionContainer {
  width: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.Information_PrecautionTitle {
  font-size: var(--large);
  font-weight: 700;
  color: var(--color0);
  box-sizing: border-box;
  margin: 60px 0px 20px 0px;
}
.Information_PrecautionLine {
  width: 90px;
  height: 3px;
  background-color: var(--color0);
}
.Information_PrecautionInfo {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 10px 0px 20px 0px;
}
.Information_PrecautionImage {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Information_PrecautionImage img {
  width: 250px;
  height: 250px;
  border-radius: 140px;
}
.Information_PrecautionDesc {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color0);
}

.Analytics {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: var(--font1);
  color: var(--color3);
}
.Analytics_GlobalDataBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/bgelement.svg");
  background-repeat: no-repeat;
  background-size: 50% 80%;
  background-position: 0% 60%;
}
.Analytics_TitleBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../assets/element_4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10% 10%;
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
  text-align: center;
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.Analytics_Title {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Analytics_Line {
  width: 60px;
  height: 3px;
  background-color: var(--color1);
  box-sizing: border-box;
  margin: 15px 0px 0px 0px;
}
.Analytics_CountBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/element.svg");
  background-repeat: no-repeat;
  background-position: 90% 40%;
  background-size: 10% 20%;
}
.Analytics_CntBlock1, .Analytics_CntBlock2 {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.Analytics_CntBlock1 {
  box-sizing: border-box;
  margin-bottom: 30px;
}
.Analytics_CntCards {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color0);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.Analytics_CardTitleBlock {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--mid);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color1);
}
.Analytics_CardImage img {
  width: 80px;
  height: 80px;
}
.Analytics .CardTitle {
  width: 85%;
  text-align: center;
}
.Analytics_Count {
  width: 100%;
  font-size: var(--mid);
  font-weight: 800;
  text-align: center;
  box-sizing: border-box;
  margin-top: 50px;
  color: transparent;
  background: linear-gradient(180deg, #6DF8FA 0%, #4699C6 100%);
  -webkit-background-clip: text;
          background-clip: text;
}
.Analytics_SymptomsBlock {
  width: 690px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color0);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.Analytics_SymptomsImage {
  width: 60%;
  display: flex;
  justify-content: center;
}
.Analytics_SymptomsImage img {
  width: 260px;
}
.Analytics_SymptomsContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Analytics_Sym {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 20px 0px;
}
.Analytics .Sym1, .Analytics .Sym2, .Analytics .Sym3, .Analytics .Sym4, .Analytics .Sym5, .Analytics .Sym6 {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  border: 2px solid red;
}
.Analytics_GraphTable {
  width: 90%;
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 50px 0px 50px 0px;
}
.Analytics_Graph {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color0);
  box-shadow: 10px 40px 50px #E5E9F6;
  border-radius: 45px;
}
.Analytics_GraphTitle {
  width: 90%;
  font-weight: 700;
  color: var(--color1);
  text-align: start;
}
.Analytics_PieChart {
  width: 50vh;
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.Analytics_GraphImage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--color1);
}
.Analytics_GraphImage img {
  width: 50px;
}
.Analytics_Table {
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color0);
  box-shadow: 10px 40px 50px #E5E9F6;
  border-radius: 45px;
}
.Analytics_TableTitle {
  width: 90%;
  font-weight: 700;
  color: var(--color1);
  text-align: start;
}
.Analytics_TableData {
  width: 90%;
  margin: 50px 0px 20px 0px;
}
.Analytics_TableData th {
  width: 500px;
  height: 50px;
  font-size: var(--semiSmall);
  font-weight: 700;
  color: var(--color1);
}
.Analytics_TableData td {
  width: 500px;
  height: 50px;
  color: var(--color1);
  text-align: center;
}

.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font1);
  font-size: var(--semiSmall);
  color: var(--color3);
}
.Home_Overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../assets/introillustration.svg");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: 210% 25%;
  box-sizing: border-box;
  margin-top: 10px;
}
.Home_Info {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  box-sizing: border-box;
  margin-top: 30px;
}
.Home_InfoTitle {
  width: 40%;
  font-size: var(--xl);
  font-weight: 700;
  color: var(--color1);
}
.Home_InfoDesc1 {
  width: 50%;
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.Home_InfoDesc2 {
  width: 90%;
}
.Home_OurService {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/bgelement.svg");
  background-repeat: no-repeat;
  background-position: 0% 55%;
  margin-top: 30px;
}
.Home_ServiceTitle {
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.Home_Line {
  width: 65px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color1);
}
.Home_ServiceTagLine {
  font-size: var(--small);
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.Home_ServiceCardBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/element.svg");
  background-repeat: no-repeat;
  background-position: 86% 45%;
  box-sizing: border-box;
  margin: 60px 0px 30px 0px;
}
.Home_ServiceBlock1, .Home_ServiceBlock2 {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.Home_ServiceBlock1 {
  box-sizing: border-box;
  margin-bottom: 30px;
}
.Home_Cards {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  cursor: pointer;
  background-color: var(--color0);
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.Home_Cards:link {
  text-decoration: none !important;
}
.Home_CardImage {
  width: 80%;
}
.Home_CardImage img {
  width: 85px;
  height: 85px;
}
.Home_CardTitle {
  width: 80%;
  font-weight: 700;
  color: var(--color1);
  text-decoration: none !important;
  text-decoration: none;
  box-sizing: border-box;
  margin: 15px 0px 10px 0px;
}
.Home_CardTitle:Link {
  text-decoration: none !important;
}
.Home_CardDesc {
  width: 80%;
  font-size: var(--small);
  text-decoration: none !important;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.Home_CardDesc:hover {
  color: var(--color2);
}
.Home_PopUpActive {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}
.Home_PopUpCard {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  background-image: url("../assets/MaskGroup.svg");
  background-position: 100% 17%;
  background-size: 120% 120%;
  background-color: var(--color8);
}
.Home_PopUpTitleBlock {
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient3);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-family: var(--font2);
  font-size: var(--large);
  text-transform: uppercase;
  color: var(--color0);
  box-sizing: border-box;
  padding: 40px 0px 30px 50px;
}
.Home_PopUpTitleBlock img {
  width: 50px;
  height: 50px;
  display: flex;
  box-sizing: border-box;
  margin-right: 30px;
}
.Home_FormBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/element_2.svg"), url("../assets/element_2.svg"), url("../assets/element_2.svg"), url("../assets/element_2.svg");
  background-repeat: no-repeat;
  background-size: 15% 15%;
  background-position: 0% 10%, 0% 45%, 0% 80%, 100% 60%;
  box-sizing: border-box;
  margin: 40px 0px 20px 0px;
}
.Home_FormComp {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.Home_FormComp label {
  font-family: var(--font1);
  font-size: var(--semiSmall);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color1);
}
.Home_FormComp input, .Home_FormComp select {
  width: 450px;
  height: 40px;
  outline: none;
  border: 2px solid var(--color7);
  border-radius: 10px;
  background-color: var(--color0);
  font-size: var(--small);
  color: var(--color3);
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.Home_FormComp ::-moz-placeholder {
  font-size: var(--small);
  color: var(--color3);
}
.Home_FormComp :-ms-input-placeholder {
  font-size: var(--small);
  color: var(--color3);
}
.Home_FormComp ::placeholder {
  font-size: var(--small);
  color: var(--color3);
}
.Home_FormBtn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background: var(--gradient3);
  outline: none;
  border: none;
  font-family: var(--font1);
  font-weight: 700;
  color: var(--color0);
  box-sizing: border-box;
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Footer_MainElement {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.Footer_MainElement img {
  transform: rotate(90deg);
}
.Footer_Block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 60px;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.Footer_InfoBlock {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: var(--color0);
}
.Footer_CompName, .Footer_PointsTitle {
  font-weight: 700;
}
.Footer_CompDesc, .Footer_CompCopyRight, .Footer_PointsDesc {
  font-size: var(--small);
  box-sizing: border-box;
  margin: 15px 0px 5px 0px;
}
.Footer .points {
  box-sizing: border-box;
  margin-top: 5px;
}
.Footer_ImageBlock {
  width: 100%;
}
.Footer_ImageBlock img {
  width: 100px;
}

.Vaccine {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font1);
  font-size: var(--semiSmall);
  color: var(--color3);
}
.Vaccine_MainInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../assets/Whatisavaccine.svg");
  background-repeat: no-repeat;
  background-size: 98% 98%;
  background-position: 1300% 150%;
  box-sizing: border-box;
  margin-top: 10px;
}
.Vaccine_MainInfoBlock {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 30px;
}
.Vaccine_MainInfoTitle {
  width: 40%;
  font-size: var(--xl);
  font-weight: 700;
  color: var(--color1);
}
.Vaccine_MainInfoDesc1, .Vaccine_MainInfoDesc2 {
  width: 45%;
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.Vaccine_Importance {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Vaccine_Block1 {
  width: 100%;
  display: flex;
  align-items: center;
}
.Vaccine_ImgBlock {
  width: 50%;
  display: flex;
  justify-content: center;
}
.Vaccine_ImgBlock img {
  border-radius: 150px;
}
.Vaccine_ImpBlock {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.Vaccine_ImpBlockTitle {
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
}
.Vaccine_Line {
  width: 60px;
  height: 3px;
  background-color: var(--color1);
  border-radius: 20px;
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.Vaccine_ImpBlockSubTitle1 {
  font-weight: 700;
  color: var(--color1);
}
.Vaccine_ImpDesc {
  width: 60%;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.Vaccine_Block2 {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  box-sizing: border-box;
  margin: 15px 0px 15px 0px;
}
.Vaccine_SubTitle2 {
  font-weight: 700;
  color: var(--color1);
}
.Vaccine_Block2Desc {
  width: 95%;
}
.Vaccine_VaccineWorkBlock {
  width: 100%;
  display: flex;
}
.Vaccine_WorkBlockInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 120px;
}
.Vaccine_WorkBlockTitle {
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
}
.Vaccine_WorkDesc1, .Vaccine_WorkDesc2, .Vaccine_WorkDesc3 {
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.Vaccine_WorkBlockImg {
  width: 50%;
  display: flex;
  justify-content: center;
}
.Vaccine_RegisterCardBlock {
  width: 70%;
  display: flex;
  justify-self: center;
}
.Vaccine_RegisterCardBlock img {
  display: flex;
  align-self: flex-end;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.Vaccine_RegisterCard {
  width: 90%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(208.18deg, #31A3DF 9.05%, #67C2F2 31.12%, #67C2F2 76.74%);
}
.Vaccine_Empty {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/footerelement.svg");
  background-repeat: no-repeat;
  background-position: 96% 5%;
}
.Vaccine_RegisterTitle {
  font-size: var(--mid);
  font-weight: 700;
  color: var(--color0);
}
.Vaccine_RegLine {
  width: 70px;
  height: 3px;
  background-color: var(--color0);
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.Vaccine_CardBlock {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 0px 0px 0px;
}
.Vaccine_CardBlock img {
  border-radius: 100px;
  width: 150px;
}
.Vaccine .TagLine1, .Vaccine .TagLine2, .Vaccine .TagLine3 {
  font-size: var(--xl);
  font-weight: 700;
  color: var(--color0);
}
.Vaccine .TagLine2 {
  box-sizing: border-box;
  margin-left: 50px;
  color: yellow;
}
.Vaccine .TagLine3 {
  box-sizing: border-box;
  margin-left: 100px;
}
.Vaccine_RegButton {
  width: 200px;
  height: 50px;
  background: linear-gradient(180deg, #6093F3 0%, #0828CC 100%);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  font-weight: 700;
  color: var(--color0);
}

.LiveUpdate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font1);
  font-size: var(--semiSmall);
  margin-top: 10px;
}
.LiveUpdate_GlobalData {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/bgliveupdate.svg");
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position: 60% 30%;
}
.LiveUpdate_GlobalData img {
  width: 82px;
  width: 82px;
}
.LiveUpdate_GlobalTitle {
  width: 26%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  font-size: var(--large);
  font-weight: 700;
  color: var(--color1);
}
.LiveUpdate_GlobalTitle img {
  width: 80px;
}
.LiveUpdate_DataBlock {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.LiveUpdate_DataBlock1, .LiveUpdate_DataBlock2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 30px 0px 10px 0px;
}
.LiveUpdate_Cases, .LiveUpdate_Death, .LiveUpdate_Recovered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LiveUpdate_DataBlock2 {
  justify-content: center;
  box-sizing: border-box;
  margin: 10px 0px 30px 0px;
}
.LiveUpdate_Cases {
  width: 40%;
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/blue.svg");
  background-repeat: no-repeat;
  background-size: 90% 130%;
  background-position: center;
}
.LiveUpdate_Death {
  width: 40%;
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/red.svg");
  background-repeat: no-repeat;
  background-size: 90% 130%;
  background-position: center;
}
.LiveUpdate_Recovered {
  width: 40%;
  height: 32vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/darkblue.svg");
  background-repeat: no-repeat;
  background-size: 90% 130%;
  background-position: center;
}
.LiveUpdate_Title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--mid);
  font-weight: 700;
}
.LiveUpdate_Count {
  font-size: var(--mid);
  font-weight: 700;
  color: var(--color0);
}
.LiveUpdate_Table {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LiveUpdate_Table th {
  width: 300px;
  height: 40px;
  border-collapse: collapse;
  background: var(--gradient1);
  font-weight: 500;
  color: var(--color0);
}
.LiveUpdate_Table td {
  width: 300px;
  height: 40px;
  text-align: center;
  font-weight: 500;
  color: var(--color2);
  border-bottom: 2px solid var(--color4);
}
.LiveUpdate_SearchBar {
  width: 500px;
  height: 60px;
  background: url("../assets/searchicondefalut.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border-radius: 30px;
  border: 2px solid var(--color5);
  outline: none;
  font-size: var(--semiSmall);
  color: var(--color2);
  box-sizing: border-box;
  padding-left: 30px;
  margin: 50px 0px 50px 0px;
}
.LiveUpdate ::-moz-placeholder {
  font-size: var(--semiSmall);
  color: var(--color2);
}
.LiveUpdate :-ms-input-placeholder {
  font-size: var(--semiSmall);
  color: var(--color2);
}
.LiveUpdate ::placeholder {
  font-size: var(--semiSmall);
  color: var(--color2);
}
.LiveUpdate input[type=search]::-webkit-search-cancel-button {
  display: none;
}

.DonorNearMe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font1);
  font-size: var(--semiSmall);
  color: var(--color3);
  background-image: url("../assets/bgVectoricon.svg");
  background-repeat: no-repeat;
  background-position: 0% -60%;
}
.DonorNearMe_Intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/PlasmaDonorNearYou.svg");
  background-repeat: no-repeat;
  background-size: 160% 98%;
  background-position: 10% 140%;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.DonorNearMe_Intro img {
  width: 82px;
}
.DonorNearMe_IntroBlock {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  box-sizing: border-box;
  margin: 30px 0px 30px 0px;
}
.DonorNearMe_Title {
  font-size: var(--xl);
  font-weight: 700;
  color: var(--color1);
}
.DonorNearMe_Desc {
  width: 40%;
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.DonorNearMe_DonorTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DonorNearMe_Table {
  width: 98%;
}
.DonorNearMe_Table th {
  width: 300px;
  height: 40px;
  border-collapse: collapse;
  background: var(--gradient1);
  font-weight: 500;
  color: var(--color0);
}
.DonorNearMe_Table td {
  width: 300px;
  height: 40px;
  text-align: center;
  font-weight: 500;
  color: var(--color2);
  border-bottom: 2px solid var(--color4);
}
.DonorNearMe_SearchBarBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/element.svg");
  background-repeat: no-repeat;
  background-position: 99% 0%;
}
.DonorNearMe_SearchBarBlock img {
  width: 100px;
  height: 100px;
}
.DonorNearMe_SearchBar {
  width: 500px;
  height: 60px;
  background: url("../assets/searchicondefalut.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border-radius: 30px;
  border: 2px solid var(--color5);
  outline: none;
  font-size: var(--semiSmall);
  color: var(--color2);
  box-sizing: border-box;
  padding-left: 30px;
  margin: 50px 0px 60px 0px;
}
.DonorNearMe ::-moz-placeholder {
  font-size: var(--semiSmall);
  color: var(--color2);
}
.DonorNearMe :-ms-input-placeholder {
  font-size: var(--semiSmall);
  color: var(--color2);
}
.DonorNearMe ::placeholder {
  font-size: var(--semiSmall);
  color: var(--color2);
}
.DonorNearMe input[type=search]::-webkit-search-cancel-button {
  display: none;
}

.CovidCareCenter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font1);
  font-size: var(--semiSmall);
}
.CovidCareCenter_TitleBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient2);
  box-sizing: border-box;
  margin-top: 3px;
  padding: 30px 0px 30px 0px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.CovidCareCenter_TitleBlock img {
  width: 150px;
}
.CovidCareCenter_Title {
  font-size: var(--xl);
  font-weight: bolder;
  color: var(--color0);
}
.CovidCareCenter_Desc {
  box-sizing: border-box;
  margin: 15px 0px 15px 0px;
  font-weight: 700;
  text-align: center;
  color: var(--color6);
}
.CovidCareCenter_SearchBar {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.CovidCareCenter_SearchBarTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.CovidCareCenter_SearchBarBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.CovidCareCenter_SearchBarBlock label {
  box-sizing: border-box;
  margin-right: 10px;
  font-weight: 700;
  color: var(--color1);
}
.CovidCareCenter_SearchBarBlock select {
  width: 400px;
  height: 50px;
  background: url("../assets/carecenterdropdef.svg");
  background-repeat: no-repeat;
  background-position: 130% center;
  background-size: 50% 50%;
  border-radius: 20px;
  border: 2px solid var(--color5);
  outline: none;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: var(--semiSmall);
  font-weight: 500;
  color: var(--color3);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.CovidCareCenter_SearchBtn {
  width: 180px;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background: var(--gradient2);
  border-radius: 10px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
  font-weight: 700;
  color: var(--color0);
  border: none;
}
.CovidCareCenter .SelectDistrict, .CovidCareCenter .SelectHospital {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
}
.CovidCareCenter_Table {
  width: 99%;
  display: flex;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 20px;
}
.CovidCareCenter_Table th {
  width: 300px;
  height: 40px;
  border-collapse: collapse;
  background: var(--gradient1);
  font-weight: 500;
  color: var(--color0);
}
.CovidCareCenter_Table td {
  width: 300px;
  height: 40px;
  text-align: center;
  font-weight: 500;
  color: var(--color2);
  border-bottom: 2px solid var(--color4);
}
.CovidCareCenter_Table div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.CovidCareCenter_Table .red, .CovidCareCenter_Table .green, .CovidCareCenter_Table .yellow, .CovidCareCenter_Table .normal {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--color3);
  font-weight: 700;
}
.CovidCareCenter_Table .green {
  background-color: rgb(73, 201, 73);
  color: var(--color0);
}
.CovidCareCenter_Table .red {
  background-color: rgb(239, 77, 77);
  color: var(--color0);
}
.CovidCareCenter_Table .yellow {
  background-color: rgb(229, 229, 32);
  color: var(--color0);
}

.Login {
  width: 100%;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login_Card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2%;
  background: var(--gradient4);
  border-radius: 90px;
  box-shadow: 20px 20px 25px var(--color1);
  border: 1px solid var(--color1);
}
.Login_Title {
  font-family: var(--font1);
  font-size: var(--xl);
  font-weight: 700;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.Login_Form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 1%;
}
.Login_Email {
  height: 50px;
  width: 95%;
  border-radius: 15px;
  outline: none;
  border: 3px solid var(--color3);
  box-sizing: border-box;
  padding-left: 5%;
}
.Login_Otp {
  height: 50px;
  width: 95%;
  border-radius: 15px;
  outline: none;
  border: 3px solid var(--color3);
  box-sizing: border-box;
  margin: 30px 0px 30px 0px;
  padding-left: 5%;
}
.Login Link {
  width: 500px;
}
.Login_SendOtp {
  height: 60px;
  width: 50%;
  background: var(--gradient5);
  border: 2px solid var(--color3);
  border-radius: 20px;
  font-family: var(--font2);
  font-size: var(--mid);
  color: var(--color0);
  outline: none;
  cursor: pointer;
}
.Login_ResentOtp, .Login_RegisterYourSelf {
  font-family: var(--font2);
  font-weight: 700;
  box-sizing: border-box;
  cursor: pointer;
  margin: 15px 0px 5px 0px;
}
.Login_RegisterYourSelf {
  color: var(--color1);
  text-decoration: none !important;
  margin: 8px 0px 10px 0px;
}

.AboutUs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font1);
}
.AboutUs_CreatorInfoBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutUs_Creator1, .AboutUs_Creator2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AboutUs_Creator1 img, .AboutUs_Creator2 img {
  width: 250px;
}
.AboutUs_Creator1 {
  background-color: var(--color7);
}
.AboutUs_CreatorName {
  font-family: var(--font2);
  font-size: var(--large);
}
.AboutUs_Line {
  width: 200px;
  height: 5px;
  background-color: var(--color1);
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}
.AboutUs_ProjectRole {
  font-weight: 700;
  font-size: var(--mid);
}
.AboutUs_CollegeDesc, .AboutUs_Knowledge {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  text-align: center;
}/*# sourceMappingURL=index.css.map */