:root {
  // fonts
  --font1: "Mulish";
  --font2: "Bebas Neue";

  // color
  --color0: #ffffff;
  --color1: #000000;
  --color2: #1f1534;
  --color3: #7d7987;
  --color4: rgba(249, 250, 252, 1);
  --color5: rgba(35, 134, 226, 1);
  --color6: #ff0000;
  --color7: #4087e2;
  --color8: #f1f8ff;

  // size
  --small: 0.8rem;
  --semiSmall: 1rem;
  --mid: 1.5rem;
  --large: 2rem;
  --xl: 3rem;

  // gradient
  --gradient1: linear-gradient(180deg, #64b9f3 0%, #5fa7f3 100%);
  // --gradient2: linear-gradient(183.41deg, #2A83CA -8.57%, #5A72F2 35.57%, #5A72F2 82.96%);
  --gradient2: #5a72f2;
  --gradient3: linear-gradient(180deg, #63b5f3 0%, #184d97 100%);
  --gradient4: linear-gradient(180deg, #ffffff 0%, #70c3ff 100%);
  --gradient5: linear-gradient(180deg, #25c5e8 0%, #0038ff 100%);
}

/////////////////////////////////////////////////////////////////////////@at-root

// fonts:

$font1: var(--font1);
$font2: var(--font2);

// color:

$color0: var(--color0);
$color1: var(--color1);
$color2: var(--color2);
$color3: var(--color3);
$color4: var(--color4);
$color5: var(--color5);
$color6: var(--color6);
$color7: var(--color7);
$color8: var(--color8);

// size:

$small: var(--small);
$semi: var(--semiSmall);
$mid: var(--mid);
$large: var(--large);
$xl: var(--xl);

// gradient
$gradient1: var(--gradient1);
$gradient2: var(--gradient2);
$gradient3: var(--gradient3);
$gradient4: var(--gradient4);
$gradient5: var(--gradient5);
