

.AboutUs {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-family: $font1;

    &_CreatorInfoBlock {

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_Creator1, &_Creator2 {

        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {

            width: 250px;
        }
    }

    &_Creator1 {

        background-color: $color7;
    }

    &_CreatorName {

        // text styling
        font-family: $font2;
        font-size: $large;
    }

    &_Line {

        width: 200px;
        height: 5px;

        background-color: $color1;
        
        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;
    }

    &_ProjectRole {

        // text styling
        font-weight: 700;
        font-size: $mid;
    }

    &_CollegeDesc, &_Knowledge {

        display: flex;
        justify-content: center;
        align-items: center;

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;

        // text styling
        text-align: center;
    }
}