
.Analytics {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    // margin / padding
    box-sizing: border-box;
    margin-top: 10px;

    // text styling
    font-family: $font1;
    color: $color3;

    
    // GlobalDataBlock
    &_GlobalDataBlock {

        width: 100%;
        
        display: flex;
        flex-direction: column;
        background-image: url('../assets/bgelement.svg');
        background-repeat: no-repeat;
        background-size: 50% 80%;
        background-position: 0% 60%;

    }

    &_TitleBlock {

        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;

        background-image: url('../assets/element_4.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10% 10%;
        
        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;
        text-align: center;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;     
    
    }

    &_Title {

        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_Line {

        width: 60px;
        height: 3px;

        background-color: $color1;

        // margin & padding
        box-sizing: border-box;
        margin: 15px 0px 0px 0px;
    }

    // Count Block

    &_CountBlock {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        background-image: url('../assets/element.svg');
        background-repeat: no-repeat;
        background-position: 90% 40%;
        background-size: 10% 20%;
    }

    &_CntBlock1, &_CntBlock2 {

        width: 70%;

        display: flex;
        justify-content: space-between;
    }

    &_CntBlock1 {

        // margin & padding
        box-sizing: border-box;
        margin-bottom: 30px;
    }

    &_CntCards {

        width: 300px;
        height: 300px;
 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
        background-color: $color0;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
    }

    &_CardTitleBlock {

        width: 90%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        // text styling
        font-size: $mid;
        font-weight: 700;
        text-transform: uppercase;
        color: $color1;
    }

    &_CardImage {
        img {
            width: 80px;
            height: 80px;
        }
    }

    .CardTitle {

        width: 85%;
    
        // text styling
        text-align: center;
    }

    &_Count {

        width: 100%;

        // text styling
        font-size: $mid;
        font-weight: 800;
        text-align: center;

        // margin & padding
        box-sizing: border-box;
        margin-top: 50px;

        color: transparent;
        background: linear-gradient(180deg, #6DF8FA 0%, #4699C6 100%);
        background-clip: text;
    }

    &_SymptomsBlock {

        width: 690px;
        height: 300px;

        display: flex;
        justify-content: center;
        align-items: center;
 
        background-color: $color0;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
    }

    &_SymptomsImage {

        width: 60%;
        display: flex;
        justify-content: center;

        img {
            width: 260px;
        }
    }

    &_SymptomsContent {

        width: 40%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_Sym {

        width: 100%;
        display: flex;
        justify-content: space-around;
        
        // margin & padding
        margin: 20px 0px 20px 0px;
    }

    .Sym1, .Sym2, .Sym3, .Sym4, .Sym5, .Sym6 {

        width: 120px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        // text styling
        text-align: center;
        border: 2px solid red;
    }

    // GraphTable

    &_GraphTable {

        width: 90%;

        display: flex;
        align-self: center;
        justify-content: space-around;
        align-items: center;
    
        // margin & padding
        box-sizing: border-box;
        margin: 50px 0px 50px 0px;
    }

    &_Graph {

        width: 50%;
        height: 70vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color0;
        box-shadow: 10px 40px 50px #E5E9F6;
        border-radius: 45px;
    }

    &_GraphTitle {

        width: 90%;
        // text styling
        font-weight: 700;
        color: $color1;
        text-align: start;

    }
    &_PieChart {

        width: 50vh;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_GraphImage {

        display: flex;
        justify-content: center;
        align-items: center;

        // text styling
        font-weight: 700;
        color: $color1;
        img {
            width: 50px;
        }
    }

    &_Table {

        width: 40%;
        height: 70vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color0;
        box-shadow: 10px 40px 50px #E5E9F6;
        border-radius: 45px;
    }

    &_TableTitle {

        width: 90%;
        // text styling
        font-weight: 700;
        color: $color1;
        text-align: start;
    }

    // Table Css
    &_TableData {

        width: 90%;
    
        // margin & padding
        margin: 50px 0px 20px 0px;
        
        th {

            width: 500px;
            height: 50px;
            
            // text styling
            font-size: $semi;
            font-weight: 700;
            color: $color1;
        }

        td {

            width: 500px;
            height: 50px;
 
            // text styling
            color: $color1;
            text-align: center;
        }
    }
}