
.CovidCareCenter {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    // text styling
    font-family: $font1;
    font-size: $semi;

    &_TitleBlock {

        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        background: $gradient2;

        // margin & padding
        box-sizing: border-box;
        margin-top: 3px;
        padding: 30px 0px 30px 0px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;

        img {
            width: 150px;
        }
    }

    &_Title {

        // text styling
        font-size: $xl;
        font-weight: bolder;
        color: $color0
    }

    &_Desc {

        // margin & padding
        box-sizing: border-box;
        margin: 15px 0px 15px 0px;

        // text styling
        font-weight: 700;
        text-align: center;
        color: $color6;
        
    }

    &_SearchBar {

        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &_SearchBarTable {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
    }

    &_SearchBarBlock {

        width: 100%;

        display: flex;
        flex-direction: column;

        label {

            // marin & padding
            box-sizing: border-box;
            margin-right: 10px;
        
            // text styling
            font-weight: 700;
            color: $color1;
        }

        select {

            width: 400px;
            height: 50px;

            background: url('../assets/carecenterdropdef.svg');
            background-repeat: no-repeat;
            background-position: 130% center;
            background-size: 50% 50%;
            
            //background-color: $color0;
            border-radius: 20px;
            border: 2px solid $color5;
            outline: none;
        
            // margin & padding
            box-sizing: border-box;
            padding-left: 20px;

            // text styling
            font-size: $semi;
            font-weight: 500;
            color: $color3;

            // dropdown arrow none
            appearance: none;
        }
    }

    &_SearchBtn {

        width: 180px;
        height: 50px;

        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        
        background: $gradient2;
        border-radius: 10px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
        // text styling
        font-weight: 700;
        color: $color0;
        border: none;
    }

    .SelectDistrict, .SelectHospital {

        display: flex;
        justify-content: center;
        align-items: center;
    
        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_Table {
        width: 99%;

        display: flex;
        align-self: center;
        justify-content: center;
    
        th {

            width: 300px;
            height: 40px;
            border-collapse: collapse;
            background: $gradient1;
                
            // text styling
            font-weight: 500;
            color: $color0;
        }

        td {

            width: 300px;
            height: 40px;
        

            // text styling
            text-align: center;
            font-weight: 500;
            color: $color2;
            border-bottom: 2px solid $color4;
        }

        div {

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .red, .green, .yellow, .normal {


            width: 50px;
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            
            // text styling
            color: $color3;
            font-weight: 700;
        }

        .green {
            background-color: rgb(73, 201, 73);
            color: $color0;
        }
        .red {

            background-color: rgb(239, 77, 77);
            color: $color0;
        }

        .yellow {

            background-color: rgb(229, 229, 32);
            color: $color0;
        }
        // margin & padding
        box-sizing: border-box;
        margin-top: 20px;
    }
}