
.LiveUpdate {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    //align-items: center;

    // text styling
    font-family: $font1;
    font-size: $semi;

    // margin & padding
    margin-top: 10px;

    &_GlobalData {

        width: 100%;

        display: flex;
        flex-direction: column; 

        background-image: url('../assets/bgliveupdate.svg');
        background-repeat: no-repeat;
        background-size: 130% 130%;
        background-position: 60% 30%;

        img {
            width: 82px;
            width: 82px;
        }
    }

    &_GlobalTitle {

        width: 26%;
        
        display: flex;
        align-self: center;
        justify-content: space-between;
        align-items: center;

        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;

        img {

            width: 80px;
        }
    }

    &_DataBlock {

        width: 70%;
        
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    &_DataBlock1, &_DataBlock2 {

        width: 100%;

        display: flex;
        justify-content: space-between;

        // margin & padding
        box-sizing: border-box;
        margin: 30px 0px 10px 0px;
    }

    &_Cases, &_Death, &_Recovered {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_DataBlock2 {

        justify-content: center;

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 30px 0px;
    }

    &_Cases {

        width: 40%;
        height: 34vh;

        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../assets/blue.svg');
        background-repeat: no-repeat;
        background-size: 90% 130%;
        background-position: center;
    
    }

    &_Death {

        width: 40%;
        height: 34vh;

        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../assets/red.svg');
        background-repeat: no-repeat;
        background-size: 90% 130%;
        background-position: center;

    }

    &_Recovered {

        width: 40%;
        height: 32vh;

        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../assets/darkblue.svg');
        background-repeat: no-repeat;
        background-size: 90% 130%;
        background-position: center;
    }

    &_Title {

        
        display: flex;
        justify-content: center;
        align-items: center;

        // text styling
        font-size: $mid;
        font-weight: 700;
        
    }

    &_Count {

        // text styling
        font-size: $mid;
        font-weight: 700;
        color: $color0
    }
    &_Table {

        width: 99%;

        display: flex;
        flex-direction: column;
        align-items: center;
    
        th {

            width: 300px;
            height: 40px;
            border-collapse: collapse;
            background: $gradient1;
                
            // text styling
            font-weight: 500;
            color: $color0;
        }

        td {

            width: 300px;
            height: 40px;
        

            // text styling
            text-align: center;
            font-weight: 500;
            color: $color2;
            border-bottom: 2px solid $color4;
        }
    }

    &_SearchBar {

        width: 500px;
        height: 60px;

        background: url('../assets/searchicondefalut.svg');
        background-repeat: no-repeat;
        background-position: 95% 50%;
        border-radius: 30px;

        border: 2px solid $color5;
        outline: none;
        
        // text styling
        font-size: $semi;
        color: $color2;

        // margin & padding
        box-sizing: border-box;
        padding-left: 30px;
        margin: 50px 0px 50px 0px;
        //outline: none;
    }

    ::placeholder {

        // text styling
        font-size: $semi;
        color: $color2;
    }

    // Removing Search Bar "x" icon
    input[type="search"]::-webkit-search-cancel-button {
        display: none
      }
}