

.Footer {

    width: 100%;

    display: flex;
    flex-direction: column;
    

    &_MainElement {

        width: 90%;
        display: flex;
        justify-content: flex-end;
        img {
            transform: rotate(90deg);
        }
    }

    &_Block {

        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        // maring & padding
        box-sizing: border-box;
        padding-top: 60px;
        
        background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    }

    &_InfoBlock {

        width: 80%;
        
        display: flex;
        justify-content: space-between;
    
        // text styling
        color: $color0;
    }

    &_CompName, &_PointsTitle {

        // text styling
        font-weight: 700;
    }

    &_CompDesc, &_CompCopyRight, &_PointsDesc {

        // text styling
        font-size: $small;
        // margin & pading
        box-sizing: border-box;
        margin: 15px 0px 5px 0px;
    }

    .points {


        // margin & padding
        box-sizing: border-box;
        margin-top: 5px;
    }

    &_ImageBlock {

        width: 100%;

        img {

            width: 100px;
        }
    }
}