

// Home Section
.Home {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    // amrgin & padding

    // text styling
    font-family: $font1;
    font-size: $semi;
    color: $color3;

    // Overview block
    &_Overview {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        background: url('../assets/introillustration.svg');
        background-repeat: no-repeat;
        background-size: 85% 85%;
        background-position: 210% 25%;
    
        // margin & padding
        box-sizing: border-box;
        margin-top: 10px;
    }

    &_Info {

        width: 87%;

        display: flex;
        flex-direction: column;
        align-self: flex-end;

        // margin & padding
        box-sizing: border-box;
        margin-top: 30px;
    }

    &_InfoTitle {

        width: 40%;
        // text styling
        font-size: $xl;
        font-weight: 700;
        color: $color1;
 
    }

    &_InfoDesc1 {

        width: 50%;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_InfoDesc2 {

        width: 90%;
    }

    // Our Services

    &_OurService {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url('../assets/bgelement.svg');
        background-repeat: no-repeat;
        background-position: 0% 55%;

        // margin & padding
        margin-top: 30px;
    }

    &_ServiceTitle {

        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_Line {

        width: 65px;
        height: 3px;

        border-radius: 10px;;
        background-color: $color1;

    }

    &_ServiceTagLine {

        // text styling
        font-size: $small;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_ServiceCardBlock {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url('../assets/element.svg');
        background-repeat: no-repeat;
        background-position: 86% 45%;
        // margin & padding
        box-sizing: border-box;
        margin: 60px 0px 30px 0px;
    }

    &_ServiceBlock1, &_ServiceBlock2 {

        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    &_ServiceBlock1 {

        // margin & padding
        box-sizing: border-box;
        margin-bottom: 30px;
    }

    &_Cards {

        width: 300px;
        height: 300px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
        cursor: pointer;

 
        background-color: $color0;
        border-radius: 20px;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
 
    }

    &_Cards:link {

        text-decoration: none !important;
    }

    &_CardImage {

        width: 80%;
        
        img {

            width: 85px;
            height: 85px;
        }
    }

    &_CardTitle {

        width: 80%;

        // text styling
        font-weight: 700;
        color: $color1;
        text-decoration: none !important;
        text-decoration: none;
    
        // margin & padding
        box-sizing: border-box;
        margin: 15px 0px 10px 0px;
    }

    &_CardTitle:Link {

        text-decoration: none !important;
    }

    &_CardDesc {

        width: 80%;

        // text styling
        font-size: $small;
        text-decoration: none !important;

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;
    }

    &_CardDesc:hover {

        // text styling
        //  font-weight: 700;
        color: $color2
    }

    // Home Active Card
    &_PopUpActive {

        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.4);
    }

    &_PopUpCard {

        width: 40%;
        height: 80%;

        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-image: url('../assets/MaskGroup.svg');
        background-position: 100% 17%;
        background-size: 120% 120%;
        background-color: $color8;
        
    }

    &_PopUpTitleBlock {

        width: 100%;
        height: 10px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background: $gradient3;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
        // text styling
        font-family: $font2;
        font-size: $large;
        text-transform: uppercase;
        color: $color0;
        
        // margin & padding
        box-sizing: border-box;
        padding: 40px 0px 30px 50px;

        img {

            width: 50px;
            height: 50px;

            display: flex;
            
            // margin & padding
            box-sizing: border-box;
            margin-right: 30px; 
        }
    }

    &_FormBlock {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background: url('../assets/element_2.svg'), url('../assets/element_2.svg'), url('../assets/element_2.svg'), url('../assets/element_2.svg');
        background-repeat: no-repeat;
        background-size: 15% 15%;
        background-position: 0% 10%, 0% 45%, 0% 80%, 100% 60%;
    
        // margin & padding
        box-sizing: border-box;
        margin: 40px 0px 20px 0px;
    }

    &_FormComp {

        display: flex;
        flex-direction: column;

        // margin & padding
        box-sizing: border-box;
        margin-bottom: 15px;
        label {

            // text styling
            font-family: $font1;
            font-size: $semi;
            font-weight: 700;
            text-transform: uppercase;
            color: $color1
        }

        input, select {

            width: 450px;
            height: 40px;

            outline: none;
            border: 2px solid $color7;
            border-radius: 10px;
            background-color: $color0;

            // text styling
            font-size: $small;
            color: $color3;

            // margin & padding
            box-sizing: border-box;
            padding-left: 20px;
            margin-top: 5px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        }

        ::placeholder {

            // text styling
            font-size: $small;
            color: $color3;
        }
    }

    &_FormBtn {

        width: 150px;
        height: 40px;

        border-radius: 10px;
        background: $gradient3;
        outline: none;
        border: none;

        // text styling
        font-family: $font1;
        font-weight: 700;
        color: $color0;
        // margin & padding
        box-sizing: border-box;
        
    }
}