


.Information {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    // margin / padding
    box-sizing: border-box;
    margin-top: 10px;

    // text styling
    font-family: $font1;
    color: $color3;
    
    &_Component1 {

        width: 100%;

        display: flex;
    }

    &_Comp1Block1 {

        width: 55%;

        background-image: url('../assets/element.svg');
        background-repeat: no-repeat;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        
        // margin / padding
        box-sizing: border-box;
        padding-left: 200px;
        
    }

    &_Comp1Title {

        width: 80%;
    
        // text styling
        font-weight: 700;
        font-size: $xl;
        color: $color1;

        // margin / padding
        margin-bottom: 10px;
    }

    &_Comp1Desc1, &_Comp1Desc2 {
    
        width: 65%;
        
        // text styling
        font-size: $semi;

        // margin / padding
        margin: 8px 0px 8px 0px;
    }

    &_Comp1Block2 {

        width: 40%;
        height: 100%;

        img {

            width: 550px;
        }
    }

    // Component2

    &_Component2 {

        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &_Comp2Container1, &_Comp2Container2 {

        width: 100%;
  
        display: flex;
        align-items: center;
    }

    &_Comp2Block1 {

        width: 50%;

        display: flex;
        justify-content: center;
        img {
            width: 500px;
        }
    }

    &_Comp2Block2 {


        width: 50%;

        display: flex;
        flex-direction: column;

        // margin / padding
        box-sizing: border-box;
        padding-left: 100px;
    }

    &_Comp2Title {

        width: 65%;
        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;
    }

    &_Comp2Line, &_Comp3Line, &_Comp4Line, &_Comp5Line, &_Comp6Line {

        width: 50px;
        height: 2px;

        background-color: $color1;
        border-radius: 10px;

        // margin / padding
        margin: 15px 0px 15px 0px;
    }

    &_Comp2Desc1 {

        width: 40%;
 
        // text style
        font-size: $semi;
    }

    &_Comp2Container2 {

        flex-direction: column;

        // padding / margin
        box-sizing: border-box;
        margin-top: 10px;
        padding-left: 60px;
    }

    &_Comp2Desc2, &_Comp2Desc3, &_Comp2Desc4, &_Comp2Desc5 {
 
        width: 90%;

        // margin / padding
        margin: 10px 0px 10px 0px;
    }

    // Component3
    &_Component3 {

        width: 100%;

        display: flex;
    }

    &_Comp3Block1 {

        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        // margin & padding
        box-sizing: border-box;
        padding-left: 130px;
    }

    &_Comp3Title {

        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;
        
    }

    &_Comp3Desc1, &_Comp3Desc2, &_Comp3Desc3 {

        width: 95%;

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;
    }

    &_Comp3Block2 {

        width: 50%;
        
        display: flex;
        justify-content: center;
        align-items: center;
 
        background-image: url('../assets/element.svg');
        background-repeat: no-repeat;
        background-position: 98% 50%;
        img {

            width: 500px;
        }

    }

    // Component4
    &_Component4 {

        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &_Comp4Container1 {

        width: 100%;

        display: flex;
        flex-direction: row;
    }

    &_Comp4Block1 {

        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 500px;
        }
    }

    &_Comp4Block2 {

        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //
    }

    &_Comp4Title {

        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;
    }

    &_Comp4SubTitle1 {

        // text styling
        font-weight: 700;
        color: $color1;
    }

    &_Comp4Desc1, &_Comp4Desc2 {

        width: 70%;

        // margin & padding
        box-sizing: border-box;
        margin: 15px 0px 10px 0px;
    }

    &_Comp4Container2 {

        display: flex;
        flex-direction: column;

        // padding / margin
        box-sizing: border-box;
        margin-top: 15px;
        padding-left: 130px;
    }

    &_Comp4Block3, &_Comp4Block4, &_Comp4Block5 {

        width: 95%;
        display: flex;
        flex-direction: column;

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;

        ul {
         
            list-style: none;

            // margin & padding
            box-sizing: border-box;
            margin: 10px 0px 10px 0px;
        }

        li {

            // margin & padding
            box-sizing: border-box;
            margin: 3px 0px 3px 0px;
        }
    }

    &_Comp4SubTitle2, &_Comp4SubTitle3, &_Comp4SubTitle4 {

        // text styling
        font-size: $semi;
        font-weight: 700;
        color: $color1;
    }

    &_Comp4Desc3, &_Comp4Desc4, &_Comp4Desc5, &_Comp4Desc6, &_Comp4Desc7, &_Comp4Desc8, &_Comp4Desc9 {

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;

    }

    // Component 5
    &_Component5 {

        width: 100%;

        display: flex;
        flex-direction: column;

        // margin & padding
        margin-top: 20px; 
    }

    &_Comp5Container1, &_Comp5Container2 {

        width: 100%;
        display: flex;
    }

    &_Comp5Block1, &_Comp5Block2 {

        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 550px;
        }
    }

    &_Comp5Block1 {

        // marginn & padding
        box-sizing: border-box;
        padding-left: 130px;
    }

    &_Comp5Block2 {

        align-items: center;
    }

    &_Comp5Title {

        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;
    }

    &_Comp5Desc1 {

        width: 80%;

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 5px 0px; 
    }

    &_Comp5Symptoms  {

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;

        ul {

            // margin & padding
            margin-left: 20px;
        }
        li {

            // margin & padding
            box-sizing: border-box;
            margin: 3px 0px 3px 0px;
            
        }
    }

    &_Comp5SubTitle {

        // text styling
        font-weight: 700;
        color: $color1;
    }

    &_Comp5Container2 {

        width: 95%;

        // margin & padding
        margin: 20px 0px 20px 0px; 
        padding-left: 130px;
    }


    // Component6

    &_Component6 {

        width: 100%;
    }

    &_Comp6Container1, &_Comp6Container2 {

        width: 100%;
        display: flex;
    }

    &_Comp6Block1 {

        width: 55%;
        display: flex;
        justify-content: flex-start;

        background-image: url('../assets/infoIllustration2.gif');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 70% 100%;
    }

    &_Comp6Block2 {

        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_Comp6Title {

        width: 60%;
        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;
    }

    &_Comp6Desc1 {

        width: 50%;
        // margin & padding
        margin: 10px 0px 10px 0px;
    }

    &_Comp6Container2 {

        flex-direction: column;

        // margin & padding
        box-sizing: border-box;
        padding-left: 130px;
        margin: 10px 0px 10px 0px;
    
        ul {

            // margin & padding
            box-sizing: border-box;
            margin-left: 17px;
        }

        li {

            // margin & padding
            box-sizing: border-box;
            margin: 3px 0px 3px 0px;
        }
    }

    &_Comp6SubTitle {

        // text styling
        font-weight: 700;
        color: $color1;
    }

    // Precuations

    &_Precaution {

        width: 100%;
        height: 60vh;

        background-image: url('../assets/element_3.svg');
        background-repeat: no-repeat;
        background-position: 1.5% 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin & padding
        box-sizing: border-box;
        margin: 30px 0px 30px 0px;
    }

    &_PrecautionContainer {

        width: 92%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }

    &_PrecautionTitle {

        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color0;

        // margin & padding: 
        box-sizing: border-box;
        margin: 60px 0px 20px 0px;
    }

    &_PrecautionLine {

        width: 90px;
        height: 3px;

        background-color: $color0;
    }

    &_PrecautionInfo {

        width: 90%;

        display: flex;
        justify-content: center;

        // margin & padding
        margin: 10px 0px 20px 0px;
    }

    &_PrecautionImage {

        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 250px;
            height: 250px;
            border-radius: 140px; 
        }
    }

    &_PrecautionDesc {

        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // text styling
        font-size: 1.2rem;
        font-weight: 700;
        color: $color0;
    }
}