

.Login {

    width: 100%;
    height: 93vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &_Card {

        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        box-sizing: border-box;
        padding: 2%;
        background: $gradient4;
        border-radius: 90px;
        box-shadow: 20px 20px 25px $color1;
        border: 1px solid $color1;
    }

    &_Title {

        font-family: $font1;
        font-size: $xl;
        font-weight: 700;

        box-sizing: border-box;
        margin-bottom: 20px;
    }

    &_Form {

        width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 1%;

    }

    &_Email {
        height: 50px;
        width: 95%;
        border-radius: 15px;
        outline: none;
        border: 3px solid $color3;
        box-sizing: border-box;
        padding-left: 5%;
    }

    &_Otp {

        height: 50px;
        width: 95%;
        border-radius: 15px;
        outline: none;
        border: 3px solid $color3;
        box-sizing: border-box;
        margin: 30px 0px 30px 0px;
        padding-left: 5%;
    }

    Link {

        width: 500px;
    }

    &_SendOtp {

        height: 60px;
        width: 50%;

        background: $gradient5;
        border: 2px solid $color3;
        border-radius: 20px;

        // text styling
        font-family: $font2;
        font-size: $mid;
        color: $color0;

        outline:none;
        cursor: pointer;
    }

    &_ResentOtp, &_RegisterYourSelf {

        font-family: $font2;
        font-weight: 700;

        box-sizing: border-box;
        cursor: pointer;
        margin: 15px 0px 5px 0px;
    }

    &_RegisterYourSelf {

        color: $color1;
        text-decoration: none !important;
        margin: 8px 0px 10px 0px;
    }
}