
.Navbar {

    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;

    // padding / margin
    //padding: 15px 0px 10px 0px;

    &_InActiveTitle {

        width: 50%;
        height: 100%;
       
        display: flex;
        align-items: center;
        
        // Text Styling
        font-family: $font2;
        font-weight: bold;
        font-size: $mid;
        color: $color1;

        // padding / margin
        box-sizing: border-box;
        padding-left: 15px;
    }

    &_ActiveTitle {

        width: 50%;
        height: 100%;
       
        display: flex;
        align-items: center;

        background-color: $color7;
        // Text Styling
        font-family: $font2;
        font-weight: bold;
        font-size: $mid;
        color: $color0;

        // padding / margin
        box-sizing: border-box;
        padding-left: 15px;
    }

    &_Contents, &_CovidcarecenterContent {

        width: 50%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;
         
        // text styling
        color: $color1;
    }

    &_LinkActive, &_LLinkActive {

        // text styling
        font-family: $font1;
        font-weight: bold;
        font-style: normal;
        color: $color2;
        font-size: $semi;
        text-decoration: none !important;
        text-decoration: none;
        padding: 1% 2%;
    }

    &_LLinkActive {

        border-radius: 20px;
        box-sizing: border-box;
        color: $color0;
        background: $gradient5;
    }

    &_LinkInActive {

        // text styling
        font-family: $font1;
        font-style: normal;
        color: $color2;
        font-size: $semi;
        text-decoration: none !important;
        text-decoration: none;
        box-sizing: border-box;
        padding: 1% 2%;
    }

    &_LLinkInActive {
        // text styling
        font-family: $font1;
        font-style: normal;
        color: $color0;
        font-size: $semi;
        text-decoration: none !important;
        text-decoration: none;
        box-sizing: border-box;
        padding: 1% 2%;
    }

    &_LLinkInActive:hover {
        border-radius: 20px;
        box-sizing: border-box;
        color: $color0;
        background: $gradient5;
    }

    &_Covidcarecenter{

        width: 50%;
        height: 100%;
       
        display: flex;
        align-items: center;
        
        // Text Styling
        font-family: $font2;
        font-weight: bold;
        font-size: $mid;
        color: $color0;

        // padding / margin
        box-sizing: border-box;
        padding-left: 15px;
        background: $gradient2;
    }

    &_LActiveTitle {

        width: 50%;
        height: 100%;
       
        display: flex;
        align-items: center;
        
        // Text Styling
        font-family: $font2;
        font-weight: bold;
        font-size: $mid;
        color: $color0;

        // padding / margin
        box-sizing: border-box;
        padding-left: 15px;
        background: transparent;
    }

    &_CovidcarecenterContent {
        
        background: $gradient2;
    }

    &_CovidLink {

        background: $gradient2;
        color: $color0
    }
}

.active {

    background: $gradient2;

    // text styling

    .Navbar_Title, .Navbar_Link {

        // text styling
        color: $color0;
    }
}