
.DonorNearMe {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    // text styling
    font-family: $font1;
    font-size: $semi;
    color: $color3;

    background-image: url('../assets/bgVectoricon.svg');
    background-repeat: no-repeat;
    background-position: 0% -60%;
    
    &_Intro {

        width: 100%;

        display: flex;
        flex-direction: column;

        background-image: url('../assets/PlasmaDonorNearYou.svg');
        background-repeat: no-repeat;
        background-size: 160% 98%;
        background-position: 10% 140%;

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;


        img {

            width: 82px;
        }
    }

    &_IntroBlock {

        width: 87%;

        display: flex;
        flex-direction: column;
        align-self: flex-end;

       
        // margin & padding
        box-sizing: border-box;
        margin: 30px 0px 30px 0px;
    }

    &_Title {

        // text styling
        font-size: $xl;
        font-weight: 700;
        color: $color1;        
    }

    &_Desc {

        width: 40%;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_DonorTable {

        width: 100%;

        display: flex;
       flex-direction: column;
        align-items: center;
    }

    &_Table {

        width: 98%;

        th {

            width: 300px;
            height: 40px;
            border-collapse: collapse;
            background: $gradient1;
                
            // text styling
            font-weight: 500;
            color: $color0;
        }

        td {

            width: 300px;
            height: 40px;
        

            // text styling
            text-align: center;
            font-weight: 500;
            color: $color2;
            border-bottom: 2px solid $color4;
        }
    }

    &_SearchBarBlock {

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url('../assets/element.svg');
        background-repeat: no-repeat;
        background-position: 99% 0%;

        img {
            width: 100px;
            height: 100px;
        }
    }

    &_SearchBar {

        width: 500px;
        height: 60px;

        background: url('../assets/searchicondefalut.svg');
        background-repeat: no-repeat;
        background-position: 95% 50%;
        border-radius: 30px;

        border: 2px solid $color5;
        outline: none;
        
        // text styling
        font-size: $semi;
        color: $color2;

        // margin & padding
        box-sizing: border-box;
        padding-left: 30px;
        margin: 50px 0px 60px 0px;
        //outline: none;
    }

    ::placeholder {

        // text styling
        font-size: $semi;
        color: $color2;
    }

    // Removing Search Bar "x" icon
    input[type="search"]::-webkit-search-cancel-button {
        display: none
      }
}