
.App {

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.WithBackground {

  background-image: url('../assets/loginbg.jpg');
}

.loader {

  display: flex;
  justify-content: center;
  align-items: center;
}

.Component_Container {

    width: 100%;
    height: 93vh;
    
    // Scroll Component
    overflow: scroll;
    //overflow-x: hidden;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
}