


// Vaccine Registration Section
.Vaccine {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    // amrgin & padding

    // text styling
    font-family: $font1;
    font-size: $semi;
    color: $color3;

    // Overview block
    &_MainInfo {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        background: url('../assets/Whatisavaccine.svg');
        background-repeat: no-repeat;
        background-size: 98% 98%;
        background-position: 1300% 150%;
    
        // margin & padding
        box-sizing: border-box;
        margin-top: 10px;
    }

    &_MainInfoBlock {

        width: 87%;

        display: flex;
        flex-direction: column;
        align-self: flex-end;

        // margin & padding
        margin-top: 30px;
    }

    &_MainInfoTitle {

        width: 40%;
        // text styling
        font-size: $xl;
        font-weight: 700;
        color: $color1;
 
    }

    &_MainInfoDesc1, &_MainInfoDesc2 {

        width: 45%;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_Importance {

        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &_Block1 {

        width: 100%;

        display: flex;
        align-items: center;
    }

    &_ImgBlock {

        width: 50%;

        display: flex;
        justify-content: center;
        img {
            border-radius: 150px;
        }
    }

    &_ImpBlock {

        width: 50%;

        display: flex;
        flex-direction: column;
    }

    &_ImpBlockTitle {

        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1;
    }

    &_Line {

        width: 60px;
        height: 3px;

        background-color: $color1;
        border-radius: 20px;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_ImpBlockSubTitle1 {

        // text styling
        font-weight: 700;
        color: $color1;
    }

    &_ImpDesc {

        width: 60%;

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;
    }

    &_Block2 {

        width: 92%;

        display: flex;
        flex-direction: column;
        align-self: flex-end;
    
        // margin & padding
        box-sizing: border-box;
        margin: 15px 0px 15px 0px;
    }

    &_SubTitle2 {

        // text styling
        font-weight: 700;
        color: $color1
    }

    &_Block2Desc {

        width: 95%;
    }

    &_VaccineWorkBlock {

        width: 100%;

        display: flex;
    }

    &_WorkBlockInfo {

        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        // margin & padding
        box-sizing: border-box;
        padding-left: 120px;
    }

    &_WorkBlockTitle {
 
        // text styling
        font-size: $large;
        font-weight: 700;
        color: $color1
    }

    &_WorkDesc1, &_WorkDesc2, &_WorkDesc3 {

        // margin & padding
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;
    }

    &_WorkBlockImg {

        width: 50%;

        display: flex;
        justify-content: center;
    }

    &_RegisterCardBlock {

        width: 70%;
        
        display: flex;
        justify-self: center;

        img {

            display: flex;
            align-self: flex-end;

            // margin & padding
            box-sizing: border-box;
            padding-bottom: 20px;
        }
    }

    &_RegisterCard {

        width: 90%;
        height: 50vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background:  linear-gradient(208.18deg, #31A3DF 9.05%, #67C2F2 31.12%, #67C2F2 76.74%);
    }

    &_Empty {

        width: 100%;
        height: 100%;

        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: url('../assets/footerelement.svg');
        background-repeat: no-repeat;
        background-position: 96% 5%;
    }

    &_RegisterTitle {

        // text styling
        font-size: $mid;
        font-weight: 700;
        color: $color0;
    }

    &_RegLine {

        width: 70px;
        height: 3px;

        background-color: $color0;

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 20px 0px;
    }

    &_CardBlock {

        width: 80%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        img {

            border-radius: 100px;;
            width: 150px;
        }

        // margin & padding
        box-sizing: border-box;
        margin: 20px 0px 0px 0px;
    }

    .TagLine1, .TagLine2, .TagLine3 {
        // text styling
        font-size: $xl;
        font-weight: 700;
        color: $color0;
    }

    .TagLine2 {

        // margin & padding
        box-sizing: border-box;
        margin-left: 50px;
        color: yellow
    }

    .TagLine3 {

        // margin & padding
        box-sizing: border-box;
        margin-left: 100px;
    }

    &_RegButton {

        width: 200px;
        height: 50px;

        background: linear-gradient(180deg, #6093F3 0%, #0828CC 100%);
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: 0.2s all;

        // text styling
        font-weight: 700;
        color: $color0;
    }
}